<%- include("header") -%>
<h2>Todolist Web-app</h2>
<p>Welcome to our TodoList WebApp! We are excited to present a user-friendly and efficient platform built on the powerful combination of Express, MongoDB, and Ejs. With our TodoList WebApp, you can seamlessly create and manage your daily tasks, making productivity a breeze!

    But that's not all – we go beyond the ordinary. We take personalization to a whole new level with our custom page feature. Now, you can create dedicated pages for your custom TodoLists, tailoring each list to suit your unique needs. Whether it's organizing your work projects, planning a vacation, or simply jotting down your creative ideas, our WebApp empowers you to stay on top of it all.
    
    Our dedicated team of developers has meticulously crafted this application, ensuring a smooth and intuitive user experience. We are continuously working to enhance the functionality and add new features based on your valuable feedback. We believe that a well-organized life leads to a happier and more productive you.
    
    So, take charge of your tasks, bring order to your chaos, and embark on your journey towards productivity and success with our TodoList WebApp. Start creating, customizing, and achieving your goals today! Thank you for choosing us and happy organizing!</p>
<%- include("footer") -%>
